<ion-view>
    <ion-content class="padding">

    <div id="all">

        <div id="content">
            <div class="container">

                <div class="col-md-12">
                    <div class="row" id="error-page">
                        <div class="col-sm-12">
                            <div class="box">

                                <p class="text-center">
                                    <!--<img src="img/logo.png" alt="Obaju template">-->
                                </p>

                                <h3>Thank you !</h3>
                                <h4 class="text-muted">Payment done successfully. 
                                    For order status please check <a href="#/tab/orders">order detail</a> page.</h4>
                                <p class="buttons">
                                    <a href="#/tab/products" class="btn btn-primary"><i class="fa fa-home"></i>Continue Shopping</a>
                                   </p>&nbsp;&nbsp;
                                <strong>OR</strong>
                                    &nbsp;&nbsp;
                                    <p><span class="buttons"><a href="#/tab/home" class="btn btn-primary"><i class="fa fa-home"></i> Go to Homepage</a>
                                </span>
                                </p>    
                            </div>
                        </div>
                    </div>


                </div>
                <!-- /.col-md-9 -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
    </div>
    <!-- /#all -->
</ion-content>
</ion-view>